*{
    margin: 0;
    padding: 0;
}

body{
    margin-top: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

section{
    background-color: aliceblue;
    width: 60rem;
    height: 35rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reddot{
    background-color: red;
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
}