*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
}

.wrapper{
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 120px;
    gap: 1rem;
}

header, aside, main, footer{
    background-color: rgb(18, 125, 219);
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    /*auto = följ css flödet, 
    utgå från där du är nu och spänn över 6 rader*/
    grid-column: auto / span 6;
}

aside{
    /*auto = följ css flödet, 
    utgå från där du är nu och spänn över 6 rader*/
    grid-column: auto / span 2;
    grid-row: auto/ span 3;
}

main{
    /*auto = följ css flödet, 
    utgå från där du är nu och spänn över 6 rader*/
    grid-column: auto / span 4;
    grid-row: auto/span 3;
}

footer{
    /*auto = följ css flödet, 
    utgå från där du är nu och spänn över 6 rader*/
    grid-column: auto/ span 6;
}

h2:hover{
    color: black;
}